body {
    background-image: url('./images/background.png');
    background-size: 50px 50px;
    padding: 0 10% 0 10%;
}

.box{
    background-color: white;
    border: 5px solid;
    border-color: #10A12B;
}

.title_box{
    border: 5px solid;
    border-color: red;
}

.title{
    border: 5px solid;
    border-color: orange;
}

.subtitle{
    border: 5px solid;
    border-color: blue;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 10 0 0 0;
}

.date{
    border: 5px solid;
    border-color: #7E04CB;
}