body {
    background-image: url('./images/background.png');
    background-size: 50px 50px;
    padding: 0 10% 0 10%;
}

.title{
    font-size: 14pt;
}

.box{
    background-color: white;
    border: 10px white solid;
}

.headers{
    text-align: right;
    background-color: #A8F0F0;
}

.subtitle{
    overflow: auto;
    border: 4px solid;
    border-color: #C2E9E9;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 10 0 0 0;
}

.subtitle img{
    float: right;
}

.date{
    border: 2px blue dashed;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}